[2016-06-13 12:40] AirMike opened #2 "not a function"
Hi, I'm trying to use this package with ns-angular2.

I included
    `require('nativescript-i18n');`

after
    `import {nativeScriptBootstrap} from "nativescript-angular/application";`

in main.ts file and later when I use translation in xml file

`<Button text="{{ L('Login') }}"></Button>`

I get error:

[code]

[2016-06-13 15:02] rborn commented on #2
Hi,
I'm sorry but my angular knowledge is close to zero.
However, did you try to require the module the first thing in main.ts ? You say `I included...*after*`.

[2016-06-13 15:07] AirMike commented on #2
I included it after first import because this import sets globals and other stuff.
Same error is if I put this two lines as the top two lines

[2016-06-13 15:08] rborn commented on #2
😞
I'll need to have a look and try to find a fix, but it will take a while.
Thank you for letting me know.

[2016-06-22 16:47] terhoraj opened #3 "Cannot get XML text="{{ L('example') }}" to work"
I have followed your tutorial and example app and done everything right I ques. I can access my strings from javascript just fine but from XML I always get "undefined" or something with console warning L is not a function or something (dont have my gear near at the moment). What am I doing wrong?

[2016-06-22 16:54] rborn commented on #3
show me your app.js

[2016-06-23 05:19] terhoraj commented on #3
![appjs](https://cloud.githubusercontent.com/assets/19226200/16292500/cfd96650-391a-11e6-83eb-1cd4411e47b7.PNG)

This is the error I get exactly: JS: Cannot find function or filter: L

[2016-06-23 13:01] rborn commented on #3
What version of {N} are you using?

[2016-06-23 15:57] terhoraj commented on #3
Version 2.0.1
Interesting, I created a new clean project and copied all relevant files from your demo project in it and it worked. This makes me think that might it have something to do with other plugins I use with the project that has problems.

To explain what I have tried also is removing app from phone/AVD completely, removing platforms, rebuilding many times.

Anyway most interesting thing i

[2016-06-23 16:14] rborn commented on #3
One more question: android or/and ios ?

I'll try to reproduce the issue in the weekend and let you know, but please let me know your platform.
Thank you.

[2016-06-23 16:34] terhoraj commented on #3
Android. I'm using Windows 7 and 10 if that matters. Newest Nativescript.
I just made another clean project, this time I did not copy your project but made all as instructed. Got same error on first build and then after running tns remove platform android + building app multiple times It started to work. Locale and all works. When I edited strings and build again = fail. Run platform remove + buil

[2016-06-23 17:26] rborn commented on #3
Ok, so it seems that somehow {N} is caching the platforms (to speedup the compile time)
What I do is to delete the `platforms` folders by hand, and not use `tns remove` and then run `tns run ios/android`

Can you try this please?
Thnx

[2016-06-23 17:42] terhoraj commented on #3
It takes me couple of days to get back to the project. I certainly will. I'll post results here of course. Thanks for your awesome plugin and help so far!

[2016-06-25 18:29] ryc16 opened #4 "Question: Any way to livesync for changes"
Use the demo. Build and run it with llvesync. It works. However, when a new entry is added, even console saying

[code]

But, it wouldn't work and got

JS: Binding: Run-time error occured in file: undefined at line: undefined and column: undefined

Tried remove platform and add platform, still doesn't work. I finally figured out, I have to do uninstall the app (the demo) from the emulator (or phon

[2016-06-25 18:45] ryc16 opened #5 "How to change the language at runtime"
Is there any way to switch the language at runtime rather than on the phone itself? Couldn't find this information.

[2016-06-27 07:08] terhoraj commented on #4
I have same problems and so far this problem is in nativescript it self.

[2016-06-27 07:09] terhoraj commented on #3
Same thing no matter how many times I clean project out and compile. I always get "Cannot find function or filter: L" but not from code.

[2016-06-27 08:34] rborn commented on #4
Indeed, livesync won't sync resources and sadly I don't have any solution on how to fix this.

[2016-06-27 08:40] rborn commented on #5
The plugin uses the native mechanism provided by the OS.
An android it might be possible, but with a lot of trouble (I mean for this plugin) while on iOS you would need to find a way to "reboot" the whole app - not sure this is possible in {N}

If you want to do this, you would need to make your own i18n routine, probably an observable associated to an array/object which you will change at some po

[2016-06-27 08:47] rborn commented on #3
This is so weird. Let's try this:
- delete the **platforms**, **node-modules** and **hooks** folders
- go to package.json and remove the dependency of nativescript-i18n
- run in console `tns plugin add nativescript-i18n`

And then try to run the project.
Let me konw

[2016-06-27 09:15] terhoraj commented on #3
Yep, this is weird and it did not work. I'll keep trying everything out tho.

[2016-06-27 09:56] terhoraj commented on #3
One more question popped in my mind and this might be a dummy question. When I go to i18n.android.js and there is that L functions.
Which one of these "application.resources.L = L;" or "global.L = L;" is called from xml and which one from javascript? questions should be more likely what happens after xml {{ L('xx') }}??

[2016-06-27 10:01] rborn commented on #3
`application.resources.L` should be called in xml
`global.L` should be called in JS

[2016-06-27 10:43] terhoraj commented on #3
Now I can say that the problems is not caused by your plugin anyway. I created a new clean project, got your plugin working right away. Started installing other plugins one by one + building again every time. No plugin related issues. After copy pasting app.js from original big project problems started to come back again. Something to do with application module.

[2016-06-27 10:47] rborn commented on #3
When you say `Something to do with application module` you mean your app code or {N} application module?

[2016-06-27 10:47] terhoraj commented on #3
My app code, must be.

[2016-06-27 10:49] rborn commented on #3
Ok , I'll close the issue then 😄
I think you can reopen it anytime.

[2016-06-27 10:49] #3 closed, assigned to nobody

[2016-06-27 10:49] terhoraj commented on #3
Lol, it was the original project code that somehow formatted application.resources so the problem is now solved. Your library works perfectly now, I'm an idiot...

[2016-06-27 16:10] ryc16 commented on #5
Thank you for your answer. I was hoping if there is anything like angular's translate which should be able to change language at runtime. I might not want to use angular just because of using angular's translate.

[2016-06-27 19:00] #5 closed, assigned to nobody

[2016-07-20 03:24] jamlfy commented on #2
Is simple

[code]

In the html

[code]

That's all!! 👍

[2016-07-20 03:27] jamlfy commented on #4
If not possible, that is android and iOS if you have to compile the apk or app. And get the strings, is direct in the code. And the code changes that are made have to be doing as compiled. It can be made is that the compiled string already have, and so we can recognize , but by injecting new strings in the xml, it's not possible.

[2016-07-21 11:12] rborn commented on #2
@alejonext thanks for finding this.

I wonder why the L function is not available in angular if we make it global and also available in resources.

I'll amend the [readme](https://github.com/rborn/nativescript-i18n/blob/master/README.md) with this instructions :)

Thanks again!

[2016-07-21 15:12] rborn commented on #2
@AirMike could you give a try to #6  ?
Thnx 😄

[2016-07-27 07:55] loloof64 commented on #2
Hi everyone, I've tried to use the solution from @alejonext , but I did not manage.
Thanks in advance for any help.

MY_PROJECT/utils/i18n.ts

[code]

MY_PROJECT/main.ts

[code]

MY_PROJECT/components/explorer/explorer.ts

[code]

MY_PROJECT/components/explorer/explorer.html

[code]

[2016-07-27 08:36] AirMike commented on #2
Well, I had some other issues regarding NativeScript and Angular2 so I decided not to go with Angular2 at this moment and I have no issues with this plugin when used without Angular2.

[2016-07-27 08:55] AirMike commented on #2
Just found old version of my project when I was using Angular2 so I will try suggested solution on my project.

[2016-07-27 09:06] rborn commented on #2
@loloof64 stupid question: did you import the @alejonext branch? Thanks :)

[2016-07-27 10:23] loloof64 commented on #2
Not a stupid question, as it appears that I did not know there is the @alejonext  branch.
What is the simpliest way of doing this, please ?

[2016-07-27 10:26] loloof64 commented on #2
Oh : just found https://github.com/rborn/nativescript-i18n/pull/6.
How can I import it into my project ? (I don't know very much git commands, sorry :cry:)

[2016-07-27 10:30] rborn commented on #2
I think you have 2 ways:
- remove the module from the project and install it with `npm install --save https://github.com/alejonext/nativescript-i18n`
- download his repo as zip and replace by hand all the files in my module

:)

[2016-07-27 10:32] loloof64 commented on #2
Thanks I'll try it right now :smiley:

[2016-07-27 11:24] loloof64 commented on #2
Sorry, but I am trying to solve npm depencies issues.
I'll notify you whenever I manage to translate my application.

Later I will have to go, but as soon as I come back, I'll try again.

[2016-07-27 15:43] AirMike commented on #2
I found a way how to make this work (I'm using original nativescript-i18n plugin)
I'm new to Angular2 so I'm not sure how to make this as part of the plugin.

Key is to make custom Angular2 Pipe and make it global so you can use it in any template.

In **main.ts** after adding:

`require('globals');
require('nativescript-i18n');`

add this:

`import {provide, PLATFORM_PIPES} from '@angular/core';

[2016-07-27 16:59] rborn commented on #2
@AirMike could you provide a test case project I could play with?
I don't know anything about angular but I could try to mess with your code and the plugin and maybe I can find a way to make this work within the plugin.

Tbh, this angular stuff (all the pipes and transforms) you have to do to make it work looks to me like being against any purpose of a plugin. It should work out if the box with mi

[2016-07-27 19:02] loloof64 commented on #2
~~Hi again. I've tried to resolve the mess I put in my package.json, but I still can't start my application.
@AirMike do you agree to give me the content of your package.json (or at least to tell me all the dependencies you added for the translation to work) ?~~

Edit.
I think this is not a problem with package.json, but with the hooks folder I manually deleted. So I'll checkout to my last commit

[2016-07-27 19:24] loloof64 commented on #2
I can confirm now that @AirMike solution is good. But one thing miss according to me : though I set up the emulator language to French, the application did not configure accordingly.

Is there a method I need to call in order to follow the system local ?

Regards.

[2016-07-27 21:43] jamlfy commented on #2
The code in the branch, works in typescript in Angular2 and the code in this issuse is in ES6.  The documentation (3 mouths ago) typescript and Angular2, thas code in the branch in funciontal. And construct the App is this _main.ts_

[code]

The file `./util/i18n` is the same for that https://github.com/alejonext/nativescript-i18n/blob/master/angular.ts  And! That install  'nativescript-i18n'..

[2016-07-27 21:47] loloof64 commented on #2
I can definitely confirm that the translation works with the steps given by @AirMike . I tested it with the french locale in the emulator settings.

Just one line I've added for android not to complain about reflect-metada

[code]

just below

[code]

[Here is my project](https://github.com/loloof64/ChessExercicesCupboard),with which you can play if you want. (Support for english and french).

Jus

[2016-07-28 08:26] AirMike commented on #2
I can confirm that @alejonext branche is working but only if I add generated angular.js file to the repository (see my forked repository - link bellow).

Also I have suggestion to tweak it a little bit so it will look nicer when used.

If we add one more import in **angular.ts** file at the top:

`import {provide, PLATFORM_PIPES} from '@angular/core';`

and then at the bottom add export (in the sa

[2016-07-28 08:54] loloof64 commented on #2
@AirMike thank you. I did not know about `npm update` command. So I can safely remove this hooks folder from my repository.

[2016-07-28 09:13] rborn commented on #2
@AirMike @loloof64 thank you so much for testing and finding a fix for this
and of course @alejonext for providing the initial fix 🙇 🙇 🙇 🙇

I have few questions 😄
- could you make a PR out of this for the angular.**js** file (would be only the js file and modified from the generated one to be more readable)
- could we use in this file the [decorate plugin](https://github.com/damienklinnert/angular

[2016-07-28 09:24] AirMike commented on #2
I will make i change with function name and if everything work make a PR.

Regarding decorate definition: this is something that is automatically generated by TypeScript meaning that all coding is done in ts file and  TypeScript then generates js file as it see it.
I'm not expert in Angular, but this plugin you mentioned is for AngularJS with is something completely different from Angular2 (as far

[2016-07-28 09:26] rborn commented on #2
@AirMike ok, I think I can live with a ts file in the plugin :)
Thanks again.

[2016-07-28 12:46] rborn commented on #2
@AirMike @loloof64 @alejonext I merged the PR and updated the [Readme](https://github.com/rborn/nativescript-i18n/blob/master/README.md#angular). Could you guys have a look if the instructions are ok?

Thanks again for all your help 🍻

[2016-07-28 12:58] AirMike commented on #2
I don't see angular.ts and angular.js have been merged.

Also I would put in instruction how to use translations with angular (there is example in angular.ts file), e.g: `<Button text="{{ 'Login' | L }}"></Button>`

[2016-07-28 13:06] rborn commented on #2
Closed the PR without merge 😧 .
I added  the example.

Ok now? 😄

[2016-07-28 13:16] AirMike commented on #2
I'm trying to test but when I install plugin with: `tns plugin add nativescript-i18n` or `npm install --save nativescript-i18n` I got nativescript-i18n directory without new files.
Does it requires to increase plugin version or some other registration of new changes?

[2016-07-28 13:22] rborn commented on #2
Ok, bumped the version and published to npm (I forgot to do this, sorry).
Can you give it a try?

[2016-07-28 13:51] AirMike commented on #2
Yes, its working OK.

[2016-07-28 14:04] loloof64 commented on #2
I've just tested it, and it works.
But the `import "reflect-metadata"` must be done before the pipe is created, also it may be a good idea to put it directly in the angular.ts file of your plugin, as this way the final user would just have to import the I18N_PROVIDERS.

[2016-07-28 14:06] rborn commented on #2
@loloof64 can you test with the reflect-metadata directly in the angular.js file?
I think the easiest way is to edit the already installed plugin angular.js file and require it.
Of course, don't forget to remove it from main.ts

[2016-07-28 14:07] loloof64 commented on #2
I'll try it right now.

[2016-07-28 14:17] loloof64 commented on #2
My project does not build : I've got an error in the :processF0DebugResources process. I don't manage to resolve it, even with removing folders platforms/ hooks/ and node_modules/ and launching `npm update` and `tns platform add android`

[2016-07-28 14:19] rborn commented on #2
this after you move the reflect-metadata part?
can you try to put it in the angular.ts file too ?

[2016-07-28 14:21] loloof64 commented on #2
I moved the reflect-metadata from the main.ts to angular.ts.
But something let me think that it is not because of that.

If i reset to the last commit, the result is the same.

[2016-07-28 14:23] rborn commented on #2
can you make a pastie with the error?

[2016-07-28 14:27] loloof64 commented on #2
Here it is

[ERRORS.txt](https://github.com/rborn/nativescript-i18n/files/388551/ERRORS.txt)

I can generate the complete log if needed.

[2016-07-28 14:28] AirMike commented on #2
nothing strange (it probably requires to generate fresh platform files).
Try this steps (from your project folder):
1. tns platform remove android (or ios)
2. manually delete folders: hooks, node_modules
3. tns platform add android (or ios)
4. tns run android (or tns livesync android --watch) - it will automatically download all npm dependencies (alternatively you can call npm update before tns ru

[2016-07-28 14:29] rborn commented on #2
here?:

[code]

[2016-07-28 15:27] loloof64 commented on #2
Stupid error !
I forgot the formated=false attribute in a string.

It works but I get undefined for the two last parameters of my string.

[code]

and

[code]

gives me "--- New undefined undefined"

Moved "import reflect-metadata" from main.ts to angular.ts (so this part is solved).

[2016-07-28 15:33] rborn commented on #2
ok, nice to know we're one step forward :)

as for the arguments (again, I don't have any idea of angular) shouldn't `L:args` mean? (comas instead of colon)

[code]

[2016-07-28 15:37] loloof64 commented on #2
No, with commas, I get a template error. So colons are good.

[2016-07-28 15:47] rborn commented on #2
Then we need to understand how to pass all the args to the native L 😢

[2016-07-28 15:50] loloof64 commented on #2
Yes, maybe something can be improved in the pipe.
I tried to put variadics with (inside angular.ts)

[code]

but it did not work either.

[2016-07-28 15:50] rborn commented on #2
I think you need to do it in angular.js too ?

[2016-07-28 15:52] loloof64 commented on #2
~~Ah maybe. I did not think about that. I'll see if I can manage.~~
In fact I forgot the js version is generated from the typescript file, so it is really from the ts file that the modification must be done.

[2016-07-28 16:29] loloof64 commented on #2
It works !
Maybe because I didn't run accordingly on the phone the first time, I thought that the variadic method didn't work. But **it is the solution**.

What are the steps for a Pull Request : I must first clone your repository and launch a PR : right ?

[2016-07-28 16:33] rborn commented on #2
Amazing :)

For the PR this should do it:
- fork my repo on github with the fork button
- clone **your** repo on your computer, make your changes and push them against **your** repo
- create a PR from the github page

😄

[2016-07-28 16:34] loloof64 commented on #2
Thanks :smile:

I do it right now.

[2016-07-28 16:50] loloof64 commented on #2
Done PR :smile:
I will test it with your updated version instead of mine for me to be sure that the PR is good.

[2016-07-28 16:53] rborn commented on #2
After I merge the PR and update npm you can test it just like any other dev 😸

[2016-07-28 16:55] loloof64 commented on #2
Yes. That's right, anybody will be able to notify a problem about the new version. :smile:

[2016-07-28 16:57] rborn commented on #2
The point is that I want to push the changes so you can test with the real thing :)

[2016-07-28 16:58] loloof64 commented on #2
No problem :smile: I'll test it as soon as you released it :smile:

[2016-07-28 16:59] rborn commented on #2
I added a comment on the PR

[2016-07-28 17:21] loloof64 commented on #2
I've updated the README on my PR with a detailed use case :smile:

[2016-07-28 17:48] rborn commented on #2
Merged, bumped and published to npm 🎉
You should be able to test with the normal install sequence now.

Thanks again 😄

[2016-07-28 18:32] loloof64 commented on #2
You're welcome :smile:

I've just tested the plugin using the normal installation sequence, and it works like before : as expected :smile:

[2016-07-28 18:40] rborn commented on #2
Yay 🙌🙌🙌🙌

Sent from my iPhone

[2016-07-28 18:59] jamlfy commented on #2
👍 😋

[2016-07-28 20:57] #2 closed, assigned to nobody

[2016-07-30 09:40] loloof64 opened #9 "Using translation does not work any more : String resource not found (id 0x0)"
Hello,

it seems that the translation feature does not work any more. I am using version 0.0.6 of the plugin.

This is my exception stacktrace

[nativescript_error.txt](https://github.com/rborn/nativescript-i18n/files/391798/nativescript_error.txt)

This is my explorer.html

[code]

This is my strings.xml (en)

[code]

(If i use an hard-coded string in the label, it works)

Regards

[2016-07-30 10:20] loloof64 commented on #9
Sorry it was a bad use of tns livesync

[2016-07-30 10:20] #9 closed, assigned to nobody

[2016-07-30 12:21] rborn commented on #9
👍

Sent from my iPhone

[2016-07-31 11:38] loloof64 commented on #2
Hello again.

I've just noticed that, in TypeScript code, one has just to invoke `global.L()` instead of `L()` in order to translate strings. No import is required.

I can update my version of the repository with `git pull`, modify README, and make a new PR if needed.

Regards.

[2016-08-03 12:01] rborn commented on #2
Hi, sorry for the late reply.
Are you sure you import _global**s**_ (trailing **s**) ?

[2016-08-03 17:12] giordy opened #10 "The plugin seems to fail with NativeScript 2.1.1"
Hi,

I tried today your plugin and I think it creates a small conflict with NativeScript 2.1.1.
In fact after integrating it in the project and adding one simple string to test it I experienced this error:

[code]

Basically the plugin is overwriting the strings.xml files for the Android platform and removing one string that is referenced from the Android Manifest, namely: **title_activity_kimera*

[2016-08-03 19:10] loloof64 commented on #2
No, as well as I setup app.ts with I18N_PROVIDER (like noticed in the readme, so the end-user should already have done this), the L function is available by calling global.L (without trailing s) in any typescript file (except the launcher app.ts of course). As simple as that.

So L function can also be used in code-behind in TypeScript without further configuration :smile:

[2016-08-04 13:34] rborn commented on #2
@loloof64  But do you load globals in app.ts ? The equivalent of `require('globals');`?

[2016-08-04 13:38] rborn commented on #10
Hi @giordy
Are you by any chance using livesync?

Also, the [Readme/important section](https://github.com/rborn/nativescript-i18n#important-) says that you should have that string in your xml lang files.
Anyway, if you have a better way of doing this I'm happy to accept a PR :)

[2016-08-04 13:43] giordy commented on #10
aaaargh, somehow I missed that note! ^_^'
Sorry my bad!

I will consider the possibility of PR, in the meantime thanks a lot for your prompt reply and for your great work :)

[2016-08-04 13:43] #10 closed, assigned to nobody

[2016-08-04 16:29] loloof64 commented on #2
No I just have to import the I18N_PROVIDERS, because when I do it, it always import the globals. And if I set it in the bootsrap providers (main application), then it will be available anywhere.

[2016-08-04 16:51] rborn commented on #2
but not app.ts right? or I'm not understanding the issue? 😆

[2016-08-04 19:54] loloof64 commented on #2
It's not an issue, it's just a notice that the L function can also be used in TypeScript code, but we don't have to call `L()` but `global.L()` instead.

[2016-08-04 20:11] rborn commented on #2
Mmm, ideally should be the same. I'll try to take a look when I'll have a little time
Thanks for letting me know 😊

Sent from my iPhone

[2016-08-26 18:09] magar91 opened #11 "Any way to set the default language?"
In my app I have two languages spanish and english but I want to make spanish the default language in case that the device has any other language. Is there any way to set a default language?

[2016-08-28 13:53] rborn commented on #11
I'm not sure, I'll have to investigate :)

[2016-08-28 17:34] ahmedelgendy commented on #11
+1

[2016-09-21 06:55] andy-tai opened #12 "setup instructions for Angular need update for NS 2.3/Angular 2.0"
The instructions on how to set up nativesceript-i18n with Angular by import I18N_PROVIDER in main.ts

[code]

does not seem to work with NativeScript 2.3 with Angular 2.0 (official release) any more... needs updating

[2016-09-26 04:30] andy-tai commented on #12
Hi, I find that with some changes to angular.ts in nativescript-i18n,

[patch.txt](https://github.com/rborn/nativescript-i18n/files/492215/patch.txt)

then in the application's code, do not do the changes for main.ts as currently suggested,, but in the app's app.module.ts file,  but do these:

[code]

and then other code using i18n can work without changes.

[2016-09-26 17:07] rborn commented on #12
Hi @andy-tai could you please create a PR for it? 😄
Thank you.

[2016-09-26 17:43] jamlfy commented on #12
@rborn is simple! :D

[2016-09-29 13:19] rborn commented on #12
@alejonext of course, but a PR would be even easier :) and would also be part of the contribution from the community 😉

[2016-10-01 05:33] andy-tai commented on #12
@rborn  will do

[2016-10-12 11:43] rborn commented on #12
Closing, as we merged #15

[2016-10-12 11:43] #12 closed, assigned to nobody

[2016-10-20 09:40] tviel opened #16 "Getting errors during --watch"
Hi,
 anytime a change parts of my code and recompile, I get

[code]

array length increases from time to time.

however, app starts and works.

[2016-10-20 10:55] rborn commented on #16
Mmm, looks more like a tooling problem. Somehow it doesn't seem to see the module is already installed.

[2016-10-20 10:58] rborn commented on #16
@tviel I think this is the issue: https://github.com/NativeScript/nativescript-cli/issues/1990

[2016-10-21 03:00] kssfilo opened #17 "after/before?"
i18n doesn't work on following sequence.
1.tns prepare ios
2.open platforms/ios/*.xcodeproj by xcode
3.build by xcode
->L() doesn't work

4.tns prepare ios again
5.build by xcode
->L() works

Because Hook script creates lproj into app folder after
copying app folder to platforms folder by tns prepare

This means there are no lproj files on plaform folder at 1st
time.

lproj files will be copied fr

[2016-10-21 08:26] rborn commented on #17
Would you care to test on android too and make a PR 😺 ? I saw you also have some changes in the way the bundle is detected.

Thank you.

[2016-10-21 11:07] tviel commented on #16
Indeed it seems related. nativescript-i18n is a package I installed from this github instead using npm version, as the npm angular2 style is different then current state.
Is there an idea yet, when current github state will be pushed to npm?

[2016-10-21 17:58] kssfilo commented on #17
OK. I checked on android by following sequence.
1.tns prepare android
2.build apk by gradlew manually and install it via adb
->L() doesn't work ,There are no value-ja in platforms folder (I tried Japanese)

3.tns prepare android again
4.build apk by gradlew
->L() works, (value-ja folder appears in platforms folder)

This looks same as ios.

"before-prepare" version seems works fine both ios/androi

[2016-10-22 09:57] rborn commented on #16
Pushed  to npm 😄

[2016-10-24 07:06] tviel commented on #16
Awesome. Works now with usual livesync cycle. Thx.

[2016-10-24 07:06] #16 closed, assigned to nobody

[2016-10-25 01:52] kssfilo commented on #17
I sent PR. Please confirm it. Thank you.

[2016-10-25 09:30] rborn commented on #17
Amazing, thank you so much 😄

[2016-10-25 09:30] #17 closed, assigned to nobody

[2016-10-25 15:25] michelebombardi opened #20 "Unable to use plugin with Angular: angular.ts is not under 'rootDir'"
I've followed the instructions to configure this plugin with angular project. When I try to build the project the following exception is shown:

`error TS6059: File 'C:/MyProject/node_modules/nativescript-i18n/angular.ts' is not under 'rootDir' 'C:/MyProject/app'. 'rootDir' is expected to contain all source files.`

Inside nativescript-i18n folder there is an angular.ts file (containing the pipe d

[2016-10-27 09:26] rborn commented on #20
Hi,
I pushed to github a possible fix (**not published to npm yet**) Could you please give it a try?
Thank you.

[2016-10-27 11:01] michelebombardi commented on #20
@rborn I tried your plugin again installing it from git hub repo directly. Now there are no errors during build but at runtime:

`The pipe 'L' could not be found`

I've included the plugin following the instructions in the main page so, in my _app.module.ts_:

[code]

export class AppModule {}

Then, in my html layout:

`<ActionItem [text]="share | L" ....></ActionItem>`

What am I missing?

[2016-11-07 01:28] ghost opened #21 "Can't Use Apostrophes Android"
@rborn Using apostrophes `'` in string definitions causes Android to not build; at the same time, it works on iOS so that means if you have a common codebase you can only remove the apostrophes.

Breaks in Android:
[code]
Works:
[code]

Please make it automatically escape these in Android when transpiling to Android's format.

[2016-11-07 10:12] rborn commented on #21
Did you set `formatted="false"` ?

[2016-11-07 11:17] ghost commented on #21
@rborn No, just `<string>`

[2016-11-07 11:19] rborn commented on #21
Try the way is specified in the [docs](https://github.com/rborn/nativescript-i18n#important-) and let me know

[code]

[2016-11-07 11:34] ghost commented on #21
@rborn Isn't `formatted=false` only if we're using substitutions?  There's nothing about apostrophes in the docs

[2016-11-07 11:40] rborn commented on #21
There is no "transpiling" for android, we just copy the resources files.
You will need to escape the quotes as specified in the [Android documentation](https://developer.android.com/guide/topics/resources/string-resource.html#FormattingAndStyling)

[2016-11-07 11:54] ghost commented on #21
@rborn The strings in iOS then have backslashes.  Duplicating the translation source files to be platform-specific for that reason only is not the most intuitive way to do things..

[2016-11-07 12:38] rborn commented on #21
Ok, I'll have a look 👍

[2016-11-10 16:03] devCrossNet opened #22 "Issue on iOs 10.1 iPhone 7 Plus emulator"
I am really new to native script and I think I found an issue with i18n.

If I start my app with the iPhone 6s Plus emulator everything works fine. But not with iPhone 7 Plus.

Xcode 8.1, iOs 10.1 and I can reproduce it. Do you need more information?

Thanks for this great package!

[2016-11-19 11:17] ghost commented on #21
@rborn Any updates on this?

[2016-11-21 17:30] csaggo opened #24 "Error: EEXIST since NativeScript 2.4"
After updating to NativeScript 2.4 i keep getting EEXIST errors like this one:
shell.js: internal error
Error: EEXIST: file already exists, symlink '../rimraf/bin.js' -> '/Users/mcsaki-mbp/ _ PATH TO APP TNS MODULE _ /tns_modules/nativescript-i18n/node_modules/fs-extra/node_modules/.bin/rimraf'
    at Error (native)
    at Object.fs.symlinkSync (fs.js:1054:18)
    at cpdirSyncRecursive (/Users/mcs

[2016-11-21 17:53] rborn commented on #24
Thank you, I'll try to have a look.

[2016-11-21 17:54] rborn commented on #22
What kind of issue? Would be good to have more details. Thank you.

[2016-11-21 17:56] #4 closed, assigned to nobody

[2016-12-04 16:56] adanielyan opened #25 "How can user change the language from the app?"
I am working on app that will allow users to switch the language from the app. There will be language icons that user can tap on to switch to a different language. Will this plugin work for that? Can someone please provide an example of how the language can be switched?

[2016-12-05 10:26] rborn commented on #25
No, for now it's not possible. There is already another issue - #11 - but I didn't have the time to look into.

[2016-12-05 10:26] #25 closed, assigned to nobody

[2016-12-05 18:20] devCrossNet commented on #22
Hey, sorry for the late answer. I did not get an error or something. It was just displaying the default message instead of the translated message. I think you can close this if you can't reproduce it. Thx for your work!

[2016-12-06 11:01] thematan commented on #24
full solution should come from fixing the nativescript build process,
they copy all js files using shelljs and it fails when copying symlinks
WORKAROUND: delete 'rimraf' link from .bin directory
`rm node_modules/nativescript-i18n/node_modules/fs-extra/node_modules/.bin/rimraf`

[2016-12-06 13:15] rborn commented on #24
@thematan thanks for finding this 👍

[2016-12-06 13:49] rborn commented on #22
Sorry, didn't have time to look into, life is hectic 😢

[2016-12-06 14:35] devCrossNet commented on #22
![I feel you bro](https://cdn.meme.am/cache/instances/folder392/38384392.jpg)

[2016-12-08 11:07] Habeeb-mohamed opened #26 "RTL support"
Language like Arabic writing pattern is Right to left. On changing language layout has to be changes.
For instance i have tabview with 3 items like news,event,menu.
For English News should be on Left most, but for arabic news should be on right most.
Similarly all the action items, has to be changes.

Is there a way to handle this?

[2016-12-08 14:45] rborn commented on #26
You might try to set the alignment of the view to right.
But I think you should open a ticket with NS because they don't seem to support all the alignments

native iOS: https://developer.apple.com/reference/uikit/nstextalignment
while NS iOS: https://github.com/NativeScript/NativeScript/blob/84c469d61b148544bd1ef8b4f41ce689f9145754/tns-core-modules/utils/utils.ios.ts#L43-L57

The orientation that

[2016-12-14 08:27] ghost opened #27 "Bump version and upload on npm"
@rborn Please bump the version and upload it on NPM so that the iOS 10 getter patch you made is available, otherwise apps crash on iOS 10

[2016-12-14 12:28] rborn commented on #27
Can you confirm the fix works on both ios10 and 9.x ?
Thank you

[2016-12-14 14:07] rborn commented on #27
Done, should be fine now 😄

[2016-12-14 14:07] #27 closed, assigned to nobody

[2016-12-14 14:20] rborn commented on #22
@devCrossNet just pushed a new version on npm, could you have a look?
For me it works just fine now with 10.1 and 7+ emulator.

Thanks

[2016-12-14 14:32] devCrossNet commented on #22
@rborn asap :-)

[2016-12-14 14:51] #21 closed, assigned to nobody

[2016-12-14 14:52] rborn commented on #21
@vbresults new package on npm, let me know if it works on you.

[2016-12-15 00:01] ghost commented on #27
@rborn I manually copied the patch before the npm update and yes it does work, thank you (:

[2016-12-16 02:38] ghost commented on #21
It's strange, I didn't receive a notification about this update, it works now, thank you

[2016-12-20 15:10] ghost opened #28 "custom resource path"
@rborn Please allow us to pass a I18n source folder path when requiring the plugin so that we can have it follow our own directory conventions instead of having to use a hardcoded path; thank you (:

[2016-12-20 15:12] rborn commented on #28
@vbresults could you give me more details on what you need? thank you

[2016-12-20 15:17] ghost commented on #28
@rborn source path is hardcoded to app/i18n

This suggestion is to amend this, so that while by default it is still app/i18n, it can be changed, like so:

[code]

[2016-12-20 15:34] rborn commented on #28
@vbresults Not sure how to achieve this, there is a before-build hook that creates the iOS strings before the app it's built, so we need to know beforehand the path of the files :(

A way would be to try to set something in package.json but I'm not sure if this approach it's good and/or possible.

[2016-12-20 20:06] rborn commented on #28
@vbresults please have a look in the [custom_lang_path branch](https://github.com/rborn/nativescript-i18n/tree/custom_lang_path).

To set the custom path you need to alter your project's `package.json` file like in the [demo app](https://github.com/rborn/nativescript-i18n/blob/custom_lang_path/demo/package.json#L26-L28) and of course to move the file in the new path.

Keep in mind that the new pat

[2016-12-20 23:06] ghost commented on #28
@rborn Thank you; is there any chance for it to follow this spec?  https://github.com/NativeScript/NativeScript/issues/2609

[2016-12-21 10:03] rborn commented on #28
@vbresults so you'd like to have the i18n folder inside the `app/App_Resources` folder? Or am I getting it wrong?

[2016-12-21 10:53] Habeeb-mohamed commented on #26
Still it is a open issue in nativescript
https://github.com/NativeScript/NativeScript/issues/42

[2016-12-21 11:47] rborn commented on #26
Sadly yes

[2016-12-21 12:27] ghost commented on #28
@rborn Edit: Your package.json idea is better, will try it out

[2016-12-21 12:51] rborn commented on #28
@vbresults related to the edited reply, until we have something official from NS I wouldn't venture in implementing something like this (application.paths).
Also the package.json could be a good way for #11  :)

Let me know how it goes

[2016-12-23 03:39] ghost opened #29 "cannot prepare project"
@rborn I'm implementing a project to use #28 in, but if I run `tns prepare ios` more than once, the prepare crashes; the only solution right now is for me to manually delete that rimraf/bin.js

[code]

Edit: This seems to be a duplicate of #24, but I am not having this issue with any other plugins.  Considering that a NS issue was fixed regarding this, I don't know exactly where this fits.

[2016-12-23 14:08] rborn commented on #29
I'm away from the keyboard till January next year, so cannot do anything right now.

Anyway, the offending part seems to be the fs-extra module in [before-prepare.js](https://github.com/rborn/nativescript-i18n/blob/master/lib/before-prepare.js).
If you can't wait till I come back, you could replace it with the normal `fs` module and adjust the `ensureFile` part accordingly (and make a PR 😄 )

[2017-01-17 13:15] lukashlobil commented on #11
I haven't investigated for iOS, but this is postinstall for Android. English is forced to be default language.
[code]
Removing the if clause enables english not to default (there would be values-en). Then we'd need to read the default language string (ie. from package.json) and do the if clause for that language.

[2017-01-17 13:46] rborn commented on #11
@lukashlobil yes, this is the approach I wanna take, only that I was very busy. Gimme few days to try to find some time to do this 😄

[2017-01-17 13:50] rborn commented on #11
@lukashlobil actually if you look into https://github.com/rborn/nativescript-i18n/blob/custom_lang_path/lib/before-prepare.js#L12 I already did this for #28

[2017-01-17 16:47] lukashlobil commented on #11
@rborn oh, cool!
I forked it and implemented default language (settable in package.json) both [with custom location](https://github.com/lukashlobil/nativescript-i18n/blob/deafult_custom_lang/lib/before-prepare.js) and [without](https://github.com/lukashlobil/nativescript-i18n/blob/default_lang/lib/before-prepare.js) custom location. Looks good so far. I will do some tests, fix formatting and will

[2017-01-17 16:53] rborn commented on #11
@lukashlobil looks good 😄

if you want you can bump the version to 0.1.0 (as I think the module can be considered out of beta now), update the readme with the info about the defaultLang and I'll review the PR and push it to npm if all ok.

thanks again 👍

[2017-01-19 08:36] ivoeersels opened #33 "Plugin installation fails to install file 'node_modules\nativescript-i18n\angular.ts'"
I followed the instructions and installed via command 'npm install --save nativescript-i18n'
But afterwards my builds would fail as NativeScript could not load the module 'nativescript-i18n/angular'.

C:\gitprojects\cb_poc_app>tns info
All NativeScript components versions information
┌────────────┬────────── ┬─────────┬────────┐
│ Component            │ Current version │ Latest version │ Informati

[2017-01-20 08:12] ivoeersels commented on #2
I am trying to localize an alert message inside  a typescript function in a ...component.ts file.
The localization works in the template of that same component.

In 'app.module.ts' of our app I have:

import { NativeScriptFormsModule } from "nativescript-angular/forms";
import { NativeScriptHttpModule } from "nativescript-angular/http";
import { NativeScriptI18nModule } from "nativescript-i18n/ang

[2017-01-20 12:19] rborn commented on #2
@ivoeersels I think it's related to #33

[2017-01-23 07:23] ivoeersels commented on #2
@rborn I am not so sure about it... in issue #33 I mention that the code doesn't even build because NPM not downloading and installing 'angular.ts'. So at that moment nothing worked. After downloading it manually it works but only in the templates, not in the TypeScript component .ts files and that is what I mentioned here.

[2017-01-23 10:40] rborn commented on #2
@ivoeersels to be honest this is over my head 😢  I don't use typescript and neither angular.
I'll try to push the angular.ts file to npm and finish #11 but I will need help for this issue

[2017-01-23 13:44] Dragomir-Ivanov commented on #20
Any idea for the above error: "The pipe 'L' could not be found". I am getting the same.

[2017-01-23 13:55] #11 closed, assigned to nobody

[2017-01-23 14:00] rborn commented on #33
@ivoeersels pushed to npm, could you have a look?
Thank you

[2017-01-23 14:00] #28 closed, assigned to nobody

[2017-01-23 14:00] #24 closed, assigned to nobody

[2017-01-23 14:00] #29 closed, assigned to nobody

[2017-01-23 14:30] rborn commented on #20
@Dragomir-Ivanov I pushed a new version on npm, could you please have a look if it fixes the problem?
Thank you.

[2017-01-23 15:31] ivoeersels commented on #33
Looks like you fixed it @rborn
A powerful dev are you :-)

[2017-01-24 11:58] ivoeersels commented on #33
However, after switching to version 1.1 of nativescript-i18n plugin my project no longer builds.

Executing before-prepare hook from <MY_PROJECT_PATH>\hooks\before-prepar
e\nativescript-i18n.js
(node:36876) UnhandledPromiseRejectionWarning: Unhandled promise rejection (reje
ction id: 2): TypeError: Cannot read property 'stopExecution' of undefined

[2017-01-24 12:11] rborn commented on #33
Did you try to cleanup the project first and run a `tns install` ?

[2017-01-24 12:37] ivoeersels commented on #33
I think so. I npm uninstalled this plugin, then made sure to update the version number in package.json to 0.1.1 and ran 'npm install' so the new version got installled. Did I miss something?

[2017-01-24 12:45] rborn commented on #33
Delete `hooks`, `lib`,`node_modules`, `platforms` from your project and run `tns install`
**MAKE A BACKUP FIRST** 😆

[2017-01-25 03:35] zweimal commented on #33
MAKE A BACKUP FIRST 😆

Version is unusable. Installation went ok. I've already tried to remove all directories you said. Nothing changed. Here's the error thrown when I try to build the project:
[code]
I am back to version 0.0.9 (no version 0.1.0 8-|) and everything's alright again.

Off-topic: Could it return the key when the latter is no defined?

Thanks

[2017-01-25 07:16] ivoeersels commented on #33
I also rolled back to 0.0.9 as I need this to work now. Didn't try the directory cleanup mentioned by @rborn yet however.

[2017-01-25 10:20] rborn commented on #33
@ivoeersels @zweimal sorry guys, it should be fixed now.
Please clean the above folders first, install `0.1.2` and give it a shot.

If it's not working I might need a test project as the demo one in this repo seems to work fine.
Thanks again 😄

[2017-01-25 13:54] Dragomir-Ivanov commented on #20
Now it works. Thanks a ton @rborn !

[2017-01-25 13:58] #20 closed, assigned to nobody

[2017-01-25 15:00] rborn commented on #22
@devCrossNet I'll close this one, please re-open it if you find it happens again. Thanks 😄

[2017-01-25 15:00] #22 closed, assigned to nobody

[2017-01-25 15:28] ivoeersels commented on #33
I did the same as before
- npm uninstalled this plugin
- updated the version number in package.json to 0.1.2
- ran 'tns install' so the new version got installled

This time no errors anymore!

[2017-01-25 15:29] rborn commented on #33
@ivoeersels woohoo 😆
closing, thanks for the feedback 👍

[2017-01-25 15:29] #33 closed, assigned to nobody

[2017-01-25 16:37] zweimal commented on #33
before-prepare hook worked!
Much appreciated

[2017-02-07 10:21] DavyDeDurpel opened #37 "not compatible with Nativescript CLI 2.5.0"
Updating to the nativescript 2.5.0 CLI breaks this plugin.  The problem is that each modification of a file triggers and endless loop of rebuilds.

I guess the issue is inside the nativescript-i18n/lib/after-prepare.js hook.

This issue has first been logged in https://github.com/NativeScript/nativescript-cli/issues/2482

[2017-02-07 10:36] rborn commented on #37
Ouch,that's pretty ugly :(
I'll try to have a look.

[2017-02-08 03:57] ghost commented on #37
@rborn On Android and 2.5.0 with @latest i18n, it's simply creating an empty strings.xml in the android platform so it's broken completely -- iOS have not had any issues.

In 0.0.9 interestingly, no issues

[2017-02-08 07:25] DavyDeDurpel commented on #37
Indeed I didn't realize that I had it hardcoded to version 0.0.7.  I can't remember why I did this.  I can also confirm that the latest version is first creating empty strings.xml, then the correct ones to replace them again with empty ones breaking the build proces.

@vbresults for me version 0.0.9 suffers from the same issue as 0.0.7.  Any changes to a .ts or .js file triggers and endless build

[2017-02-08 09:35] rborn commented on #37
@vbresults @DavyDeDurpel I posted on https://github.com/NativeScript/nativescript-cli/issues/2482 as I think something is weird with the cli :(

[2017-02-08 10:52] ghost commented on #37
@rborn There are two issues here, one is where it's creating the empty strings.xml and another where it generates endless rebuilds.  They seem to be one problem, but I don't think so,

Because I only have the first issue with @latest, if I install nativescript-i18n@0.0.9 then I am able to run the plugin without issues (except I have to patch in the changes to package.json from my PR).

That said,

[2017-02-08 10:55] rborn commented on #37
@vbresults I'd like to wait for the telerik guys reply first, something changed in 2.5.0 and I don't know what yet :)

[2017-02-08 20:37] zweimal commented on #37
I've fixed it. It looks like a Race Condition issue...
Check PR #38

Errors thrown:
[code]
It keeps building although the errors

Later it breaks again with error:
[code]

[2017-02-08 20:46] zweimal commented on #37
Code review:
Hook's promise is always resolved, therefore if there's an error it will continue building and that's not right.

Possible (fast and easy) solution: Check, at least, if the income and outcome file are not empty.
Possible (not so fast) solution: Check XML syntax, invalid or unscaped characters

[2017-02-09 09:53] rborn commented on #37
Hey everyone, updated and pushed to npm, could you guys play with it and see if it's working properly (I only tested with pure JS, so somebody playing with Angular and/or TypeScript ?)

Thanks a lot for helping with this repo 😸

[2017-02-09 10:45] DavyDeDurpel commented on #37
I just did a few tests with Angular and Typescript and all known issues are solved.  So no more empty strings.xml files and no more endless build loops.   :+1: :+1: :+1:

It's not perfect though because the application still gets refreshed twice.  The first time for the file that got changed and the second time due to the strings.xml files between copied.
Most of the time these strings.xml files w

[2017-02-09 10:47] rborn commented on #37
@DavyDeDurpel thanks a bunch, I'll have a look 😄

[2017-02-10 17:25] spstratis commented on #26
For android, they would also need to add support for the "Start" and "End" values which are used in style properties that deal with left and right alignments.

[2017-02-13 03:07] ghost commented on #37
@rborn Largely working great except for one thing, in 2.5.0, running tns run ios --clean does not sync the source phrases to the native strings, have to do a prepare for that separately first

[2017-02-13 09:13] rborn commented on #37
@vbresults it seems to work for me,can you run this in the [demo](https://github.com/rborn/nativescript-i18n/tree/master/demo) folder and verify? Maybe there is a conflict with another plugin?

[2017-02-14 17:46] spstratis opened #39 "Support formatting a string using parameters received from GCM."
I'm receiving `MissingFormatWidthException` when attempting to format a string with arguments received from the `title_loc_args`of a GCM message.

I'm using GCM to send push notifications to my application, since the notifications need to be localized I can have the GCM payload contain the keys for the resource strings I want it to use.

This works great when using the notification message param `

[2017-02-15 09:08] rborn commented on #39
@spstratis can you show me how you pass the args? Show me a little code 😄

[2017-02-19 09:19] andy-tai opened #42 "build error when trying to build with webpack support for Android"
(NS 2.5)
Take the Nativescript-Angular demo program in the pull request #41; cd to the demo program demo_angular's directory, run it to ensure it runs normally without webpack, and try to add the web pack plugin as instructed here  http://docs.nativescript.org/angular/tooling/bundling-with-webpack.html:

npm install --save-dev nativescript-dev-webpack

and then when trying to test the Android bund

[2017-02-21 11:55] rborn commented on #42
@andy-tai  could you try exporting the `L` class in **angular.ts**, something like `export class L implements PipeTransform` ?

[2017-02-21 14:31] lukeramsden opened #43 "TypeScript declarations?"
TypeScript complains that `L` doesn't exist, so I'm assuming there are none?

[2017-02-21 14:34] rborn commented on #43
@lukeramsden [this?](https://github.com/rborn/nativescript-i18n/blob/master/angular.ts)

[2017-02-21 14:34] lukeramsden commented on #43
@rborn I'm not using Angular

[2017-02-21 14:36] rborn commented on #43
@lukeramsden I'm not using nor angular nor ts... 😆  So yeah, there might be a problem.
Do you know any plugin that implements what you need so I can "steal" some code?

[2017-02-21 14:39] lukeramsden commented on #43
@rborn Here is the declarations for tns-core-modules: https://github.com/NativeScript/NativeScript/blob/master/tns-core-modules/declarations.d.ts

Basically, all I did to fix it was put `declare var L: any;` in my `references.d.ts` in the root folder, so maybe its easier to put that in the README and let users do it if they need it?

[2017-02-21 14:53] rborn commented on #43
Ok, could you try to add a `references.d.ts` file in the `/APP_PATH/node_modules/nativescript-i18n` folder with the above declaration, remove the declaration from the the root file and try again?

(you might need to also add some `/// <reference path` stuff ) like [here](https://github.com/EddyVerbruggen/nativescript-taptic-engine/blob/master/references.d.ts) but not sure 😸

If it works then you c

[2017-02-21 15:36] rborn commented on #43
@lukeramsden Ok, merged, bumped version and published to npm, could you give it a shot with the normal npm install?

[2017-02-24 11:22] rborn commented on #43
@lukeramsden Gonna close this, let me know if you fid new issues.

[2017-02-24 11:22] #43 closed, assigned to nobody

[2017-02-27 19:30] spstratis commented on #39
@rborn So it ended up being a weird build issue :) closing this. Thanks for the quick response though.

[2017-02-27 19:30] #39 closed, assigned to nobody

[2017-03-01 14:42] Habeeb-mohamed opened #45 "NSCalendarsUsageDescription translation"
I am using the plugin
https://github.com/EddyVerbruggen/nativescript-calendar

In plist.info i need to add the key to show the message before app accessing the calendar.

Can we show the message based on selected language?

[2017-03-03 10:37] rborn commented on #45
Mmm, I need to dig more

[2017-03-06 12:14] rborn commented on #42
@andy-tai any news on this?

[2017-03-06 16:35] andy-tai commented on #42
oh, sorry I missed that.  I will try it today

[2017-03-08 08:01] andy-tai commented on #42
OK that would allow the build process to pass that error, to the next one:
[code]

[2017-03-08 08:46] rborn commented on #42
@andy-tai Ugh, nasty. I'll try to take a look but I'm pretty busy this month 😞

[2017-03-09 07:26] ghost commented on #37
@rborn Sorry for the delay, LGTM

[2017-03-09 09:19] rborn commented on #37
@vbresults I'll keep this open due to: https://github.com/NativeScript/nativescript-cli/issues/2557

[2017-03-16 09:45] rborn commented on #45
Great, thanks again, published to npm 😄

[2017-03-16 09:45] #45 closed, assigned to nobody

[2017-04-16 18:37] masseelch commented on #42
Hey there,

i had the same problem as @andy-tai and a google search brought me here. I can confirm that exporting the `L`class does fix the problem.

@andy-tai  The error you got after exporting the `L` class occures, when you built the app once without webpack. If you pull in webpack afterwards you need to either clear the cache or get rid of the `platforms` folder completely and redo the build.

[2017-04-18 06:05] toddanglin opened #47 "NativeScript 3.0.0 support"
Creating an issue so we can track support readiness for NativeScript 3.0.0. I've identified at least one thing in my local testing that needs to be changed to make this plugin work with 3.0.0. There might be more.

- [x] Change references to `application.resources` to use new API (`application.getResources()`)
- [x] Use new plugin APIs to support LiveSync in 3.0.0

Will submit a PR for issues that

[2017-05-01 19:38] manojdcoder commented on #37
@rborn Any update on this since NativeScript/nativescript-cli/issues/2557 is fixed now...

I'm not sure whether you have a fix in mind like sass or typescript plugins does, where files are updated / synced only when changes are detected. If not, at least can we avoid running the plugin code when live-sync is enabled to get rid out of multiple reloads.

[2017-05-02 08:38] rborn commented on #37
@manojdcoder I still try to find some time to fix this :( a PR would be welcomed :)

[2017-05-03 14:44] PieterAelse commented on #47
Any updates on this? NativeScript 3.0.0 seems to be released according to the table when I run `tns info`

| Component                  | Current version  | Latest version | Information |
|--|--|--|--|
| nativescript                 |  3.0.0                          | 3.0.0         | Up to date       |
| tns-core-modules       | 3.0.0           | 3.0.0          | Up to date       |
| tns-android

[2017-05-04 13:35] lukeramsden commented on #47
Yeah, I tried updating all my dependencies and the app stopped compiling. Complaining about the use of L().

[2017-05-04 13:52] spstratis commented on #47
@lukeramsden That issue is more than likely caused by the improper use of the `application.resources` which changed in 3.0.  You may be able to change the package locally in order to fix it. It may still break with the livesync related issue though.

[2017-05-05 12:05] rborn commented on #47
@toddanglin could you please have a look at [this branch](https://github.com/rborn/nativescript-i18n/tree/fix_tns_3_0_0)?
it behaves a little odd and I don't know why:

- if I edit a **xml** file it goes fine most of the times (sometimes iOS rebuilds the project once, but I don't know why, android is fine)
- if I edit a **js** file iOS crashes, if I save the file again it syncs fine without rebuil

[2017-05-05 12:06] rborn commented on #37
Working to a [fix](https://github.com/rborn/nativescript-i18n/issues/47).

[2017-05-05 12:06] #37 closed, assigned to nobody

[2017-05-05 12:25] rborn commented on #42
@andy-tai @MasseElch could you check [this branch ](https://github.com/rborn/nativescript-i18n/tree/fix_tns_3_0_0)please.
When I build the demo app with webpack the process doesn't show any error, however there are 2 warnings related to the css and the app displays an empty screen.

Thank you.

[2017-05-05 16:27] simplec-dev commented on #47
I figured out a fix.

in i18n.android.js and i18n.ios.js change application.resources.L = L to application.setResources({L: L});

Then, in angular.ts add this to the top:
var application = require("application");

Then change the "return global.L(value, ...more);" to
return application.getResources().L(value, ...more);

[2017-05-06 12:53] manojdcoder opened #49 "Support Webpack"
Webpack bundle fails when plugin is included in a project. I'm not a expert here, but as suggested by @sis0k0 at NativeScript/nativescript-dev-webpack/issues/141, generating metadata for exported  NgModule should fix this.

[2017-05-06 14:50] masseelch commented on #42
@rborn Im quite busy at the moment but i will try to take a look in the next week.

[2017-05-06 18:00] masseelch commented on #42
@rborn I had some spare time and tested the suggested branch. I still get the same error as reported by @andy-tai:

[code]

Exporting the `L`class does NOT fix the issue any more like it did before. The following error does occur.

[code]

However, this seems to be related to #47.

Regards.

[2017-05-06 18:53] masseelch commented on #49
@manojdcoder Please see #42.

[2017-05-06 18:59] manojdcoder commented on #49
@MasseElch Not sure whether #42 is related here, but i'm getting same error as you mentioned in your comment and I was advised to generate metadata for this module which should fix this. Yet to dive in deep and check.

[2017-05-06 19:30] masseelch commented on #49
I might be wrong, but i think this module DOES already provide Metadata in the `@NgModule` decorator in `angular.ts`. Lets wait and see what @rborn has to say.

[2017-05-08 08:38] rborn commented on #47
@simplec-dev I did that, iOS still crashes when editing a js file 😢
Please have a look, maybe you find something.

[2017-05-08 09:36] kssfilo commented on #47
I modified like below and working fine.

[code]

[2017-05-08 09:44] rborn commented on #47
@kssfilo added the changes you suggested. My demo app still crashes on iOS when editing the `main-view-model.js` file. If I re-save the file, the app will start again with the changes, so it needs to be saved twice, first time will crash, the second time will start ok (no need to interact with the simulator in any way). Can you confirm this?
Thank you.

[2017-05-08 09:53] rborn commented on #49
@manojdcoder @MasseElch I made some changes to the `angular.ts` and the demo app builds fine but the app will present an empty activity (the title is there though)
I'm sorry but I don't really know how to fix this 😢

[2017-05-08 10:44] kssfilo commented on #47
I confirmed commit 34fad with my angular app and seems ok.

About the JS file editing issue, I am same but I saw this problem on tns 2.x.x with iOS emulator.

I removed nativescript-i18n from your demo app.  but the problem still remains.

so maybe it's not i18n tns 3.0.0 specific problem.

[2017-05-08 10:47] rborn commented on #47
@kssfilo Ok, thanks a lot, I'll open a ticket with nativescript.

[2017-05-09 09:12] rborn commented on #47
0.2.0 published  to npm  🎉

[2017-05-09 09:12] #47 closed, assigned to nobody

[2017-05-09 13:25] lukeramsden opened #53 "Escape % sign?"
For some reason, I can't get the % sign to display. I've tried `75%`, `75\%` and `75&#37;`, but none of them seem to work.

[2017-05-09 13:46] rborn commented on #53
@lukeramsden I assume you want to put it in strings.xml, right?

[code]

 and then in js
[code]
 will results in
![screen shot 2017-05-09 at 15 45 26](https://cloud.githubusercontent.com/assets/406409/25853912/90786a0a-34ce-11e7-87ce-0ec9e668cbc8.png)

[2017-05-09 13:50] lukeramsden commented on #53
@rborn Is there a way to escape it without using replacement? It's just in some static text. It wasn't working just escaping it with `\`

[2017-05-09 13:58] rborn commented on #53
@lukeramsden the plugin uses `sprintf` behind the scenes so a static text would still need `%%` in it to display the percent sign.
So this should work without the replacement
[code]
[code]

[2017-05-09 13:59] lukeramsden commented on #53
So putting a % sign in your text requires `formatted` to be `false`? That should go in the docs

[2017-05-09 14:06] lukeramsden commented on #53
So after testing it, that works perfectly (even with XML bindings and not JS ones) so that should 100% go in the docs.

[2017-05-09 14:06] #53 closed, assigned to nobody

[2017-05-09 14:10] rborn commented on #53
`formatted="false"` needs to be there **only** if there are replacements (that's in the docs already).
You can use it without formatted if you don't have any replacements, but the key is the double `%`

https://linux.die.net/man/3/sprintf

[2017-05-09 14:11] lukeramsden commented on #53
@rborn Then why wouldn't the percent signs show up without that?

[2017-05-09 14:17] rborn commented on #53
Here: https://github.com/rborn/nativescript-i18n/blob/master/i18n.ios.js#L10

This uses [format](https://www.npmjs.com/package/format) which as you can see replicates `sprintf`

`sprintf` treats `%` as a modifier and tries to replace it with something based on the rules in the man page I sent you. If nothing is found it will remove the `%` sign. So you need to tell it you really want it there by `

[2017-05-09 14:20] lukeramsden commented on #53
@rborn Yes I think so. As far as I could tell, the %% wasn't working without `formatted="false"`, but I don't have time to test that because it requires me to build from scratch and I'm currently working on other things. Either way, what I put in the README works 😄

[2017-05-09 14:22] rborn commented on #53
It works, I tested it, but leave it with formatted because will save us from issues opened in the cases where a user would have both replacement and %%

Thank you for all your help :)

[2017-05-09 14:28] lukeramsden commented on #53
No problem  😄

[2017-05-09 17:24] slushpuppy opened #56 "Are there additional build steps?"
1. cd'd into my project directory
2. ran the npm install command
3. inserted the strings.xml
4. required globals & nativescript-i18n

Upon running the code, it shows that L('string') returns empty string & it appears that L is not defined at all.

I have deleted the app and reinstalled it to no end.

Running off pures JS in nativescript, not angular.

I will be grateful for nay assistance

Thank y

[2017-05-10 07:59] rborn commented on #56
Is the [demo](https://github.com/rborn/nativescript-i18n/tree/master/demo) building for you?

[2017-05-10 08:03] slushpuppy commented on #56
@rborn Thanks for the reply, how do i install & run the demo?(I am new to nativescript)

[2017-05-10 08:07] rborn commented on #56
clone the repo, cd into demo, then `tns run ios`
this should do it :)

the only difference between the demo and your project is the path of the plugin in the package.json file -  the demo takes it from local while your project from npm.

[2017-05-10 08:19] slushpuppy commented on #56
Demo works perfectly fine.. hmm, are there any debugging steps I could take to remedy the action in my project? I have the following debug code:

Inside app.js

capture-page.js

capture-page.xml

debug output:

[2017-05-10 08:22] rborn commented on #56
So `L` it's there, we must find the missing texts :)
Where do you have the `strings.xml` files? (show me the full path relative to the app's root)

[2017-05-10 08:28] slushpuppy commented on #56
Oops I think the XML didn't paste properly, here it is:

`<?xml version="1.0" encoding="utf-8"?>
<resources>
  <string name="app_name">myApp</string>
  <string name="title_activity_kimera">myApp</string>
  <string name="capture_page_title">Capture Save</string>
  <string name="take_photo_title">Camera</string>
  <string name="estimate_range_title">Estimate Range</string>
</resources>
`

strings.xm

[2017-05-10 08:33] rborn commented on #56
Ok, the path is wrong - the docs say `Create a folder i18n in the app folder with the following structure:` so maybe you were mislead by the fact that App_Resources is there too in the example?

So try:
strings.xml -> `myApp\app\i18n\en\strings.xml`

[2017-05-10 08:37] slushpuppy commented on #56
Thanks for the reply, still no go:

myApp\app\i18n\en\strings.xml

Is my strings.xml format correct?

[2017-05-10 08:38] slushpuppy commented on #56
do not that myApp\app\Packages.json

[2017-05-10 08:44] rborn commented on #56
Yes  strings it's ok
the package.json in app is generated by NS, don't touch it :)

- cd in the myApp folder (root of the app)
- run `npm install --save nativescript-i18n`
- delete `hooks, node_modules, platforms` from the root of the app folder (so inside myApp, same level with app)
- tns run ios

[2017-05-10 08:56] slushpuppy commented on #56
Done that, still no go: But i noticed the following:

Project successfully created.
Executing before-prepare hook from C:\Nativescript\myApp\hooks\before-prepare\nativescript-dev-android-snapshot.js
Executing before-prepare hook from C:\Nativescript\myApp\hooks\before-prepare\nativescript-i18n.js
Preparing project...

So it does appear to hook on correctly

[2017-05-10 08:58] rborn commented on #56
Can you make  a zip with your app folder (delete the folders I told you first) and send it over to have a look?

[2017-05-10 09:03] slushpuppy commented on #56
[app.zip](https://github.com/rborn/nativescript-i18n/files/989263/app.zip)
Thanks for your patience!

[2017-05-10 09:08] rborn commented on #56
I need the whole app, so `myApp` folder, not only the `app` folder :)

[2017-05-10 09:48] slushpuppy commented on #56
Sorry!
[myApp.zip](https://github.com/rborn/nativescript-i18n/files/989280/myApp.zip)

[2017-05-10 10:17] rborn commented on #56
I just unpacked your project, cd in myApp and run `tns run ios` and `tns run android`
The JS shows L working ok, but the xml is not 😐

I will need some time to investigate

**Android:**
[code]
**iOS:**
[code]

[2017-05-10 10:35] slushpuppy commented on #56
Yup. same results on my end.

Thank you so much.

[2017-05-10 10:40] rborn commented on #56
You forgot to bind the data to the model
do this in `capture-page.js`
[code]

(estimate_range_title is missing from the strings.xml)
![screen shot 2017-05-10 at 12 38 05](https://cloud.githubusercontent.com/assets/406409/25894803/a24b5c42-357d-11e7-9d4f-ffff49d25fdf.png)

[2017-05-10 10:45] slushpuppy commented on #56
Thanks! I guess i will need that snippet for every file that includes L()?

[2017-05-10 10:57] rborn commented on #56
You need this for every file that has a `{{ some_variable }}` in xml
[Read more about data binding :) ](https://docs.nativescript.org/core-concepts/data-binding)

[2017-05-10 10:58] slushpuppy commented on #56
Thank you so much!

[2017-05-10 11:04] rborn commented on #56
If all works ok, can we close the issue? 😄

[2017-05-10 17:40] #56 closed, assigned to nobody

[2017-05-11 06:44] kssfilo commented on #49
@manojdcoder

[code]

edit package.json

[code]

remove node_modules and run “npm install ;npm run build-android-bundle“

-> Works fine

[2017-05-11 11:05] manojdcoder commented on #49
@kssfilo Thanks a lot for letting me know, the latest version fixed all the issues.

[2017-05-11 11:05] #49 closed, assigned to nobody

[2017-05-11 11:12] rborn commented on #49
@manojdcoder @kssfilo  what about #42 ?
Thanks.

[2017-05-12 12:32] kssfilo commented on #42
@MasseElch @rborn

"Property 'L' does not exist on type 'Global'..." has been fixed by following change (Commit: 34fad7db43ee525ec783f952b1935bb6eef9909a)

[code]

Try #49 's update.

I checked @andy-tai 's error is same as #49 's error.  So It can be closed, I think.

[2017-05-12 14:10] #42 closed, assigned to nobody

[2017-05-12 17:41] andy-tai commented on #42
sorry I don't have time now to test this but thanks for fixing the issue and testing the fix!

[2017-05-16 09:50] manojdcoder commented on #49
@rborn Sorry, I was just able to test and android build is perfectly fine.
Thanks!

[2017-05-16 18:33] magar91 opened #57 "translate programmatically with Angular 2"
how can I call the L() function to translate programmatically inside of a .ts class component instead of an .html? I used to be able to do it with `global.L()` in previous versions of nativescript but with the new version 3.0.1 I can't use the global variable as I used to

[2017-05-17 07:51] rborn commented on #57
@magar91 I don't know, no change was made to the way I declare L in the global scope.

[2017-05-17 07:56] rborn commented on #57
@magar91 do you put `require("globals");` at the beginning of your file?

[2017-05-17 15:21] magar91 commented on #57
I'm using the plugin with angular 2 but I didn't use `require("globals")` before and it worked fine, I will try adding it. I'll come back with an answer soon

[2017-05-17 20:44] magar91 commented on #57
@rborn I tried doing adding `require("globals")` but still I can't call the L() function in my .ts file, any idea how I can use the L() function?

EDIT:
I looked around the project issues and found [this](https://github.com/rborn/nativescript-i18n/issues/47#issuecomment-299820103)

I added the following import to my .ts file
[code]
and used the L() function like this
[code]
I can use the L() funct

[2017-05-18 08:14] rborn commented on #57
@magar91 Thank you
I opened [this ticket](https://github.com/NativeScript/NativeScript/issues/4222) to see why it's doing this.

[2017-05-19 10:28] rborn commented on #57
@magar91 there are some replies in the NS ticket, could you give them a shot?
Thank you.

[2017-05-19 14:56] magar91 commented on #57
Hi @rborn I tried adding this `declare var global : any;` as suggested [here](https://github.com/NativeScript/NativeScript/issues/4222#issuecomment-302365246) and it works perfectly

[2017-05-19 15:02] rborn commented on #57
@magar91 where did you do this? can it be done in the plugin? So it becomes seamless for other devs?

[2017-05-19 15:29] magar91 commented on #57
I added it in the file where I used the function, here is an example of where I used it:

[code]
to be honest I don't know if it can be done in the plugin, I'm sorry

[2017-05-19 15:30] rborn commented on #57
ok, thank you, I'll update the docs with your explanations 👍

[2017-05-19 15:50] #57 closed, assigned to nobody

[2017-05-22 23:18] ludcila commented on #42
Hi all, I am using tns 2.5 and adding `export` solves the problem.  I am not familiar with how releases work, but would it be possible to have a version, let's say 0.1.7, which fixes just this issue by adding `export` and still works with tns 2.5? It would be greatly appreciated.  Otherwise, could you please give me some advice regarding how I should handle this on my side?

Thanks!
Lucía

[2017-05-23 08:26] rborn commented on #42
@ludcila the current version [has the `export` already](https://github.com/rborn/nativescript-i18n/blob/master/angular.ts#L19). Am I understanding wrong?

[2017-05-23 13:17] ludcila commented on #42
Hi @rborn, I have problems making the latest version work with Nativescript 2.5.  Version 0.1.6 works fine, but I have to manually add the `export`.

Is the latest version supposed to work also with older versions of Nativescript? I cannot move my application to 3.0 yet because I need other issues to be solved first.

[2017-05-23 13:21] rborn commented on #42
@ludcila I'm sorry but you will need to make a fork, roll back to 0.1.6 and add the export yourself for 2.5
I'm  not able to support the old versions of Nativescript 😢

[2017-05-23 13:46] ludcila commented on #42
I see, thanks for clarifying :)

[2017-05-27 22:20] ghost opened #58 "ERROR ITMS-90087: "Unsupported Architectures" when uploading to App Store"
I've just started to upload the app (TNS 2.5.2) via the application loader and got:

`ERROR ITMS-90087: "Unsupported Architectures. The executable for JOSERASalesSupport.app/app/tns_modules/nativescript-i18n/node_modules/tns-core-modules-widgets/platforms/ios/TNSWidgets.framework contains unsupported architectures '[x86_64, i386]'."`

`ERROR ITMS-90209: "Invalid Segment Alignment. The app binary a

[2017-05-29 07:35] rborn commented on #58
I'm not sure, this must be something on the NS side, you might wanna open a ticket with them.

[2017-05-29 07:48] ghost commented on #58
You're right. It was a problem on the NS side. Could help me with "`tns platform remove ios`" and "`tns platform add ios`". Thanks!

[2017-05-29 08:03] #58 closed, assigned to nobody

[2017-06-11 23:04] uioporqwerty opened #59 "Cannot find module nativescript-i18n"
I added the following lines to my app.ts file but I get the error that TypeScript cannot find the module nativescript-i18n:

[code]

I've tried removing node_modules and then reinstalling but no luck :( using ```import * as i18n from 'nativescript-i18n/angular'``` works, however I'm not using angular.

[2017-06-13 08:29] rborn commented on #59
I'm not sure, do you have a test project to play with?

[2017-06-16 04:21] rickdgit opened #60 "Question: is that possible that manually change language"
For example, i would manually switch to English or French  for some spot even my system language is Spanish

[2017-06-16 08:12] rborn commented on #60
Not at the moment 😞

[2017-07-16 12:41] ghost opened #62 "[android, npm] can't webpack uglify"
@rborn 0.2.1 doesn't work with nativescript-dev-webpack's uglify option because this line uses `let` (ES6):

https://github.com/rborn/nativescript-i18n/blob/master/i18n.android.js#L12

Uglify does not parse ES6.  In the `master` branch this seems to be fixed already (:

Please publish this fix to NPM (:

[2017-07-18 09:26] rborn commented on #62
@vbresults done, sorry for this 😄

[2017-07-18 09:26] #62 closed, assigned to nobody

[2017-07-18 18:00] abolinhas opened #63 "update issue"
Hi,
Every time that I add or change a new string in XML i need to remove the platform and add again to get access to the values of this strings.

[2017-07-19 08:22] rborn commented on #63
I don't think it's possible without doing it so.
Can you make a small test project where I can see the behaviour?
Thank you.

[2017-07-19 19:16] d3mac123 opened #64 "Not working :("
I have followed all the steps in the documentation but I couldn't make the plugin to work (both Android and iOS emulators). For all:
`console.log(L('hello'));`

...instead of getting the right message:
[code]

...I just get the name of the string. In the example above:
`hello`

I have deleted the apps in the devices, as well as re-build them. Any ideas?

[2017-07-20 08:42] rborn commented on #64
Do you have the strings files in the right place?

Keep in mind that you can set a customPath in package.json https://github.com/rborn/nativescript-i18n/blob/master/demo/package.json#L27

[2017-07-20 12:03] d3mac123 commented on #64
It is inside App_Resources/i18n, as suggested in the main documentation. I've tried also to move it to another path (using the customPath) but it still did not worked. When I do that, I get the following error:
[code]
![screen shot 2017-07-20 at 8 04 14 am](https://user-images.githubusercontent.com/229148/28416460-1c60af38-6d22-11e7-87ce-c4dde6ea5986.png)

[2017-07-20 12:09] rborn commented on #64
Your customPath seems to be weird `/Users/alexsouza/ppgFinder/app/i18n/.DS_Store/strings.xml` (why `.DS_Store` ?)
Anyway, try to leave it in the recommended  place but empty the platform folder so NS builds again.

[2017-07-20 12:12] d3mac123 commented on #64
Sorry to ask such dumb question but, how can I do that? Just delete the full /ios folder under /platforms?

[2017-07-20 12:13] rborn commented on #64
yes :)

[2017-07-20 12:21] d3mac123 commented on #64
Did not worked :(

See what I have:
- app.js (first lines):
[code]

- main.xml:
[code]

strings.xml (under App_Resources/i18n/en):
[code]
- package.json:
[code]
Am I missing anything else?

[2017-07-20 12:27] rborn commented on #64
Sorry, I misread the i18n location part.
The docs say `Create a folder i18n in the app folder with the following structure:` so **not** inside the **App_Resources**, but in **app**.
Move the i18n folder one level up and let me know

[2017-07-20 12:36] d3mac123 commented on #64
I had noticed it and moved (and I deleted the platform folder) - it did not work. Error message:
`Unable to apply changes on device: 46F35FE8-4C4C-45AD-887D-51766DE2A4F1. Error is: ENOTDIR: not a directory, open '/Users/alexsouza/ppgFinder/app/i18n/.DS_Store/strings.xml'.`

For some reason, creating folders from inside VS Code adds this ".DS_Store" thing. Doing it from Terminal made it work.

Than

[2017-07-20 12:49] rborn commented on #64
So it's fixed?
About vscode, I have this in settings, maybe it helps:
[code]

[2017-07-20 12:58] d3mac123 commented on #63
@abolinhas is right. Everytime a new string in the strings.xml file is added, a remove platform is required.

[2017-07-20 13:11] d3mac123 commented on #64
It is fixed. Creating the folders via Terminal removed that strange ".DS_Store" string.

[2017-07-20 13:11] #64 closed, assigned to nobody

[2017-07-21 11:36] abolinhas commented on #63
@rborn I create a helloword project and install your plugin.
I add multiple new strings into strings.xml then I did tns prepare android && tns build android && tns run android, in all cases the new strings is nos added to the project.
The only way that i find to add new strings into the project is remove and add the platform..
The before-prepare.js update the sting file inside app/app_resources/An

[2017-07-21 13:55] rborn commented on #63
I'm afraid we'll have to live with this for now 😞

[2017-08-13 09:34] noordw opened #65 "errors on tns Run - JS ERROR Error: A Frame must be used to navigate to a Page"
These warnings first
CONSOLE WARN file:///app/tns_modules/nativescript-i18n/node_modules/tns-core-modules/utils/utils.js:113:14: Objective-C class name "UIDocumentInteractionControllerDelegateImpl" is already in use - using "UIDocumentInteractionControllerDelegateImpl1" instead.
CONSOLE WARN file:///app/tns_modules/nativescript-i18n/node_modules/tns-core-modules/ui/gestures/gestures.js:16:14: Obje

[2017-08-17 05:22] vijaykumarbollavaram opened #66 "Change language file when i click button?"
I have following code in app.js

[code]

In my splash screen I have 3 buttons , French, English, Arabic. When I tap on any buitton that language file should be load in application. How to solve this problem

Like for english `require("tns-i18n")('en');`

[2017-08-17 08:58] rborn commented on #66
Sorry but for now there you cannot change the language at the runtime. A PR is welcomed though 😄

[2017-08-17 08:59] rborn commented on #66
Closing, same as #60

[2017-08-17 08:59] #66 closed, assigned to nobody

[2017-08-17 14:26] kevindegorostiaga commented on #60
Hi ! Any news about this very useful function ?

[2017-08-17 14:42] rborn commented on #60
@kevindegorostiaga not really 😞 , I moved away from NS so very little time to take care of the plugin.

[2017-08-17 15:14] rborn opened #67 "Maintainer wanted!"
I moved away from NativeScript so I'm looking for somebody to take ownership of the plugin and continue the development of it.

[2017-08-20 11:10] gtzinos opened #68 "It is working for android but not for ios"
Hi,
I am using your plugin for a month, and now its the first time i am trying to deploy my app for ios and the only plugin that is not working on ios its yours. This is my project structure

 /app/i18n/en/strings.xml
 /app/i18n/el/strings.xml

I dont get any error/ warning in the console.

[2017-08-21 09:25] rborn commented on #68
Hi, what is _not working_?
I need more details to try to understand your issue, like logs, behaviour, etc.

[2017-08-31 20:14] ryanzaatari commented on #68
Hi @gtzinos I think you placed it in the wrong folder, according to the documentation, it should be placed under App_Resources. (check the below screen shots from the actual documentation)
It's weird that android picks it up though

<img width="288" alt="screen shot 2017-08-31 at 11 12 20 pm" src="https://user-images.githubusercontent.com/19889931/29943412-113fbe72-8ea2-11e7-80b7-8528a22f0f35.png"

[2017-09-07 05:32] ghost commented on #65
@rborn +1 this is happening for me too using `nativescript@rc` (3.2.0).  I believe this is because `tns-core-modules` is a dependency instead of a devDependency.

This results in it overriding the correct/main project's `tns-core-modules`.

[code]

[2017-09-07 07:44] rborn commented on #65
@noordw @vbresults 0.2.3 published to npm, I tested with the demo app in the repo and it starts fine. Please have a look and let me know.

[2017-09-07 07:45] rborn commented on #59
Closing for lack of reply, if you still have the issue please re-open with more details. Thank you.

[2017-09-07 07:45] #59 closed, assigned to nobody

[2017-09-07 07:48] rborn commented on #68
@gtzinos I pushed a new version with the last tns-core-module. Can you have a look and see if it fixes your issue?

[2017-09-07 07:49] rborn commented on #26
Going to close this for inactivity. Please reopen if needed. Thanks.

[2017-09-07 07:49] #26 closed, assigned to nobody

[2017-09-07 07:49] #63 closed, assigned to nobody

[2017-09-07 08:02] ghost commented on #65
@rborn Not working for me, as I mentioned, it's overriding the main project's `tns-core-modules` and changing it's version will not solve it -- it needs to be moved from dependencies to devDependencies.

[2017-09-07 08:05] rborn commented on #65
@vbresults did you test it with devDependencies and it works?

[2017-09-07 09:48] ghost commented on #65
@rborn I did and it works

[2017-09-07 10:26] rborn commented on #65
@vbresults done and published, could you give it a try?
Thanks a lot for the help 🤗

[2017-09-07 10:45] ghost commented on #65
@rborn Works, thank you!

[2017-09-07 10:50] #65 closed, assigned to nobody

[2017-10-08 23:37] Fusion commented on #68
I have a similar issue, but not exactly, so apologies if this is hijacking.

I was not getting the labels to work at all, on either platform. It's like, with tns 3.2.0, something stopped working.

I worked around it by adding this to my models (example):

    function AboutModel(info: {}) {
  	    var aboutInfo: AboutInfo = new Observable(info);
        // ...
        aboutInfo.L = (arg) => global

[2017-10-08 23:39] Fusion commented on #68
Additional thought, regarding @ryanzaatari 's comment: I believe you need to do something about that screenshot as everybody seems to misread it as "i18n under App_Resources" instead of "i18n and App_Resources are siblings."

[2017-10-09 09:06] rborn commented on #68
@Fusion thanks for the feedback, I'll try to change the readme.

Related to the issue, as you can see I'm looking for a maintainer, so I'm not sure when I'll be able to look into it (if ever) 😟

[2017-10-10 06:20] Fusion commented on #68
My bad! I remembered that I can still use the emulator. Running with `--log trace` I found out that the issue was not escaping double quotes in strings. I had not noticed that, while Android displayed the strings, they were stripped of quotes. iOs just hated it due to storing strings in the "key"="value" format.

[2017-10-10 06:21] rborn commented on #68
So it actually works with 3.2.0 ?

Sent from my iPhone

[2017-10-10 06:36] Fusion commented on #68
Yes. It works for me. But only if I map global.L to the current model as I previously wrote :/

[2017-11-03 12:49] jamlfy commented on #67
HI!!! You need a dev?

[2017-11-03 12:52] rborn commented on #67
@alejonext Hi,  I need somebody to take over the plugin, I don't use NS anymore so I won't update it.

[2017-11-09 15:34] donaldking commented on #67
Hi, I dont mind taking over from here @alejonext

[2017-11-10 19:58] jamlfy commented on #67
Ok, but to start sending patches: D

[2017-11-23 14:35] sushant-j commented on #64
Hello..
I recently started working with {N} and have installed this plugin. I'm facing the same issue where I can't get the strings in my XML files, though if I print them out in JS logs, they show up properly.

My i18n folder is in the app/ directory, and I have `require`-d both globals and nativescript-i18n before application in app.js.

Any help please? Thanks :)

[2017-11-23 14:41] rborn commented on #64
@sushant-j really sorry, I'm not into {N} anymore, so I didn't keep track on the changes they did.

[2017-11-24 06:34] sushant-j commented on #64
Oh.. That's unfortunate. Anyways, thanks for your reply!

[2017-12-03 16:41] mid787 commented on #65
Wow. had this problem :

![image](https://user-images.githubusercontent.com/2842123/33527423-86b346a0-d859-11e7-97cb-73bb88b6fec8.png)

moved from A to B :

![image](https://user-images.githubusercontent.com/2842123/33527431-9ceae608-d859-11e7-9abd-4b7d8026ffbe.png)

And it worked. THANKS

[2018-01-04 20:22] odnamrataizem commented on #67
What's the status of this? I'd love to take over the plugin if it's still up for grabs.

[2018-01-08 12:31] rborn commented on #67
@odnamrataizem thanks for the offer 🤗
I'd love to see some PRs made first , as @alejonext suggested too and I can add you as collaborator 😊

[2018-01-21 00:05] tscislo commented on #68
For me it is working on 3.2.0 on Android with Angular without any modifications!

[2018-02-11 19:36] domzinhuu opened #70 "TabView item translate"
How to use this plugin with ttile of tabview item?

[2018-02-12 10:35] rborn commented on #70
What are you trying?
The fact is that I don't use Nativescript anymore, so I don't know.

[2018-02-12 15:51] domzinhuu commented on #70
Kkk no problems. I want change the name of tabview item with this plugin but now i found nativescript-localize and i did. When i import localize on the script i can change the tab name.

[2018-02-14 22:41] #70 closed, assigned to nobody

[2018-03-15 07:12] AsrarMemon commented on #67
Hi,
What's the status of this?
i can improve this plugin.
if you want i can continue the development of it.

[2018-03-15 11:22] rborn commented on #67
@AsrarMemon thanks, you can start sending PRs, if all goes fine I'll add you as collaborator to the repo 🤗

[2018-07-08 10:46] glaand opened #71 "Ignore .DS_Store files at i18n directory"
Ignore .DS_Store files at i18n directory

[2019-02-23 12:53] xlmnxp commented on #67
I can do it and help you

[2019-02-23 12:59] rborn commented on #67
@xlmnxp invited :)

[2019-02-23 13:03] xlmnxp commented on #67
@rborn accepted :D
can you publish new version to npm?

[2019-02-23 13:13] rborn commented on #67
@xlmnxp done 🎉

[2019-07-04 16:37] EddyVerbruggen commented on #67
Hi @rborn, if you want to permanently move this repo to a new owner, then I'm volunteering to adopt this repo. I will still depend on external contributors, but I do have time to do a little maintenance. If you're OK with it, please move it to my account and add me as a (co)owner on the npm package as well.

Good luck with your new activities, and thanks for creating and maintaining this repo!

[2019-07-05 07:20] rborn commented on #67
Hi Eddy, yes that would be awesome, especially you are really familiar with NS so it would go a good place 🤗

[2019-07-05 07:44] EddyVerbruggen commented on #67
Thanks, that's much appreciated, I'll take good care of your project mate!

[2019-07-05 08:00] rborn commented on #67
Getting this:
<img width="451" alt="Screenshot 2019-07-05 at 09 59 32" src="https://user-images.githubusercontent.com/406409/60707299-b1ebfb80-9f0b-11e9-9d3e-728ae9578a17.png">

[2019-07-05 08:22] EddyVerbruggen commented on #67
Ha! That's my fork blocking the transfer. I've deleted it. Please try again! 😄

[2019-07-05 09:20] rborn commented on #67
You should have a request ❤️

[2019-07-06 04:19] #67 closed, assigned to nobody

[2019-07-06 04:32] xlmnxp commented on #71
This plugin only reads `strings.xml` files and doesn't read other files in the i18n folder

[2019-07-06 04:32] #71 closed, assigned to nobody

[2019-08-11 13:29] #68 closed, assigned to nobody

[2019-11-18 08:13] mmyself opened #75 "Error while compiling angular.ts"
Got an error while compiling the module, no glue why
Anybody else with this problem

ERROR in ../node_modules/nativescript-i18n/angular.ts
Module build failed (from ../node_modules/@ngtools/webpack/src/index.js):
Error: /Users/jan/Desktop/GrowTube/node_modules/nativescript-i18n/angular.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'includ

[2019-12-18 11:31] agonper commented on #75
Same error here. Were you able to find a solution?

[2019-12-18 11:50] xlmnxp commented on #75
easy way to use plugin in Angular:
app.module.ts
add next code after imports
[code]

then add `NativeScriptI18nModule` in `imports` inside `@NgModule`

[code]

[2019-12-19 07:44] agonper commented on #75
Thanks for the fast answer! Finally I decided to go with: https://github.com/EddyVerbruggen/nativescript-localize, since it worked out of the box. Thanks anyway.

[2019-12-19 13:56] xlmnxp commented on #75
This means that my reply does not help you solve the issue :disappointed:

[2019-12-19 13:56] #75 closed, assigned to nobody

[2020-01-27 11:48] felixkrautschuk opened #76 "i18n folder (default and from customLangPath) has no effect, only the native resources are working"
Environment:
- @nativescript/core 6.3.2
- nativescript-i18n 0.4.1
- issue occurs on both Android and iOS

According to the docs of this plugin, one should create an i18n folder in the app directory like this:
![Bildschirmfoto 2020-01-27 um 12 35 02](https://user-images.githubusercontent.com/6443021/73171657-8b88ea00-4101-11ea-8f18-ddf912a94c1c.png)

On my side, this folder has no effect, even when

[2020-01-28 03:14] xlmnxp commented on #76
you should put `i18n` folder inside `app` folder **not** inside `app/resources`
did you change `appResourcesPath` in `nsconfig`?
plugin should use your custom paths

[2020-03-03 17:54] Fr3nky88 commented on #76
**[SOLVED]**
i have the same issue...
this is my nsconfig.json
`{
  "appResourcesPath": "App_Resources",
  "appPath": "src"
}`

i put i18n dir in the app folder but it didn't work, then i put it like this:
![immagine](https://user-images.githubusercontent.com/5224418/75804403-2cfa0000-5d80-11ea-9025-9f7fb89df7b8.png)
but also didn't work...

what i'm wrong?

Thanks...

SOLUTION: debuggin the pre-h

[2020-06-29 23:30] #76 closed, assigned to nobody

[2020-09-12 08:14] isamilo commented on #75
Hello @xlmnxp still problem 'Error while compiling angular.ts'

[2020-09-12 08:15] isamilo commented on #75
anyone can help please "ERROR in ../node_modules/nativescript-i18n/angular.ts
Module build failed (from ../node_modules/@ngtools/webpack/src/index.js):
Error: D:\Projects\masaa manne\BarPoint\node_modules\nativescript-i18n\angular.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property"
I try to use localization in my Project,

[2020-09-12 08:31] isamilo commented on #57
anyone can help please "ERROR in ../node_modules/nativescript-i18n/angular.ts
Module build failed (from ../node_modules/@ngtools/webpack/src/index.js):
Error: D:\Projects\masaa manne\BarPoint\node_modules\nativescript-i18n\angular.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property"
I try to use localization in my Project

[2020-11-25 19:50] laursen86 opened #80 "Possible to select language on iOS when only one language are defined"
Possible to select English and Danish language for the application in iOS settings app, but we have only a language file for Danish.

The default language on the phone running the application is English.

Any way to remove the possibility of changing language when only on language file are defined?

The behavior is persistent across iOS versions.

[2021-01-10 23:10] tscislo commented on #75
Even with suggestion mentioned by @xlmnxp this still does not work. Any chance for fixing this issue in the future?

[2021-01-10 23:19] tscislo commented on #75
With @xlmnxp answer that works ok. Thank you!

[2021-05-29 01:55] gabrielambriz75 commented on #75
I use your reply and works for me, but when i try to use the plugin I got this issue, actually I still don't understand how to use it in angular, If you could mention what to put in each file would help me a lot.

![image](https://user-images.githubusercontent.com/33579971/120054617-95bd4000-bff6-11eb-9a60-cdfa83675498.png)

[2021-11-11 12:32] SaadmanGTM opened #88 "How to NPM install v1.0.0 of i18n package?"
Hello.
I'm trying to migrate a Nativescript v6 app to v8 which has the nativescript-i18n package installed in it.

It appears that v0.4.1 of nativescript-i18n is the latest release, but is only compatible with v6 of nativescript.

There seems to be a v1.0.0 of nativescript-i18n - merged to master, which is compatible with v7 of nativescript, however it has not been released, and so not accessible

[2022-01-10 15:33] ludcila commented on #88
You can install from Github: https://www.pluralsight.com/guides/install-npm-packages-from-gitgithub